.heapshot {
    position: relative;
    margin: 100px auto 50px;
}

.heapshot li {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    list-style-type: none;
}

.heapshot li.current {
    cursor: pointer;
}

.heapshot li img {
    max-width: none;
}