* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #f6f1ed;
    font-family: 'Noto Serif JP', serif;

}

header {
    position: fixed;
    z-index: 99;
    right: 32px;
    top: 28px;
}

.remodal ul {
    list-style: none;
}

.remodal .nav-list {
    color: #fff;
    font-size: 52px;
    line-height: 2;
    display: block;
}

.modal-bg_a {
    width: 300px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

#top {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#top .grayspace {
    height: 90%;
    background-color: #727272;
}

.plan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #727272;
    border: 2px solid #f6f1ed;
    color: #f6f1ed;
    width: 200px;
    height: 80px;
    box-sizing: border-box;
    text-decoration: none;
    transition-duration: 0.3s;
    position: absolute;
    left: 80%;
    top: 65%;
    font-size: 28px;
}

.plan-btn:hover {
    background: #f6f1ed;
    color: #727272;
}

.modal-bg_b {
    width: 600px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
  

#top .bookshell {
    width: 100%;
    height: 100%;
    background-image: url("../images/darkbookshell.jpg");
    clip-path: polygon(0 0, 0 100%, 60% 100%, 90% 0%);
    position: absolute;
    top: 0;
}

#top .texts {
    color: #fff;
    display: inline-block;
    margin-left: 5vw;
}

#top p {
    font-size: 2.4vw;
    margin-top: calc(25vh - 12vw);
}

h1 {
    font-size: 9.5vw;
    font-weight: normal;
    margin: 0;
    padding: 0;
    letter-spacing: 1vw;
}

h1 span {
    font-size: 19vw;
    line-height: 20vw;
    letter-spacing: 2vw;
}

.bar {
    width: 100vw;
    margin: 100px 0;
}

h2 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 60px;
}

#about {
    position: relative;
}

#about img {
    position:absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

#about p {
    text-align: center;
    line-height: 48px;
    margin: 36px 0;
    font-size: 24px;
}

#activity {
    height: 1500px;
    overflow: hidden;
}

.sub-title {
    text-align: center;
    font-size: 24px;
    margin-top: -64px;
}

.activity-container {
    position: relative;
    /* margin: 0 calc(50vw - 550px); */
}

.polygon1 {
    width: 560px;
    position: absolute;
    top: 100px;
    left: calc(50vw - 550px);
}

.polygon2 {
    width: 560px;
    position: absolute;
    top: 550px;
    left: calc(50vw - 550px + 650px);
}

.polygon3 {
    width: 400px;
    position: absolute;
    top: 950px;
    left: calc(50vw - 550px + 100px);
    
}

.polygon4 {
    width: 800px;
    position: absolute;
    top: 280px;
    left: calc(50vw - 550px + 120px);
}

.bar1 {
    width: 100vw;
    position: absolute;
    top: 170px;
}

.bar2 {
    width: 100vw;
    position: absolute;
    top: 700px;
}

.activity h3 {
    font-size: 36px;
    margin: 40px 0;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 210px; 
    left: calc(50vw - 550px + 80px);
}

.top-left p {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 580px;
    left: calc(50vw - 550px + 770px);
}

.right h3 {
    padding-right: 80px;
}

.right p {
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    margin-top: 12px
}

.bottom-left {
    position: absolute;
    top: 950px;
    left: calc(50vw - 550px + 180px);
}

.bottom-left h3 {
    margin: 20px;
}

.bottom-left p {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

#member {
    position: relative;
    padding: 50px 0;
}

.bg-polygon2 {
    position: absolute;
    width: 100vw;
}

.card {
    background-image: url(../images/memo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 520px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .names {
    display: block;
    width: 230px;
    height: 100px;
    margin-top: 60px;
}

.names h3 {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    
}

.card .icon {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 40px;
}

.card .text {
    width: 300px;
    height: 130px;
    margin: auto auto 70px 110px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

#contact .item {
    margin: 20px auto 50px;
}

#contact .inner {
    text-align: center;
    margin: 0 auto 40px;
}

#contact .inner a {
    margin: 0 30px;
}

#contact p {
    font-size: 24px;
}

footer {
    margin-top: 100px;
    border-top: 1px solid #000;
}

footer p {
    text-align: center;
    margin: 12px 0;
}